
# Database URL for PostgreSQL
DATABASE_URL="postgresql://popcorn:popcorn@localhost:5432/popcorn"
# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=1234

RESEND_API_KEY=re_123
RESEND_FROM_EMAIL=popcorn@tyrion.uk

UPLOADTHING_TOKEN=placeholder